.App {
  text-align: center;
}

.App-content {
  background-color: var(--theme-body-bg);
  color: var(--theme-body-txt);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 16px;
}

.App-wrapper {
	width: 100%;
	max-width: 90rem;
	margin: 0 auto;
	padding: 0 0.5em;
}

.App-category{
  margin-bottom: 25px;
  width:100%;
}

.App-main{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-results{
  flex-shrink: 2;
}

.App-title{
  color: white;
  color: var(--theme-body-txt);
  margin-top: 0.6rem;
}

@media screen and (min-width: 55rem){
  .App-main{
    flex-direction: initial;
  }

  .App-category{
    position: sticky;
    top: var(--search-size-mx-h);
    width: 40%;
    max-width: 300px;
  }
}